<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped tabs-color-active-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Created Tasks" icon-off="ion-android-clipboard" icon-on="ion-clipboard" href="#/menu/tab/my-tasks">
    <ion-nav-view name="tab-my-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pending Approval" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox" href="#/menu/tab/pending-approval-tasks">
    <ion-nav-view name="tab-pending-approval-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-android-person" icon-on="ion-android-person" href="#/menu/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>

 
