<ion-view view-title="{{task.name}}" animation="no-animation" cache-view="false" hide-back-button ="false">
  <ion-content>
    <div class="list card">	
		  <div class="item item-icon-left item-text-wrap">
		  	<label class="item-stacked-label">
        	<span class="input-label">Description</span></label>
		    <i class="icon ion-clipboard"></i>
    			{{task.description}}
		  </div>

		  <div class="item item-icon-left item-text-wrap">
		  	<label class="item-stacked-label">
        	<span class="input-label">Status</span></label>
		    <i class="icon ion-information-circled"></i>

		    	<!-- status : In Progress -->
		    	<div ng-if="(task.isAvailable == false && task.isCompleted == false)">
		    		In Progress
		    	</div>

		    	<!-- status : Available -->
		    	<div ng-if="(task.isAvailable == true)">
		    		Available
		    	</div>

		    	<!-- status : Completed -->
		    	<div ng-if="(task.isCompleted == true)">
		    		Completed
		    	</div>

		    	<!-- status : Rejected -->
		    	<div ng-if="(task.isRejected == true)">
		    		Rejected
		    	</div>

		    	
		  </div>

		  <div class="item item-icon-left item-text-wrap" ng-if="task.status !='Completed'">
			<label class="item-stacked-label">
        	<span class="input-label">Earnings</span></label>
		    <div class="col-20">
		    	<i class="icon ion-cash"></i>
			</div> 
			<table>
				<tr>
					<td class="padding-right">Average: ${{task.Average}}</td>
					<td class="padding-right">Good: ${{task.Good}}</td>
					<td class="padding-right">Excellent: ${{task.Excellent}}</td>
				</tr>
				</table>
		  </div>

	        <!-- view task photos -->
	        


		  <!-- task sent for approval -->
		  <div ng-show="task.isAvailable == false && task.isCompleted == false">
		  
		  	<div class = "row">
			  	<button class="col col-50 button button-block button-balanced" type="button" ng-click="completeTask()" >
			  		Approve Task!
			  	</button>
			  	<button class="col col-50 button button-block button-assertive" type="button" ng-click="removeTask()" >
			  		Reject Task!
			  	</button>
		  	</div>
		  
		</div>


		<!-- sent for Proposal approval -->
		  <div ng-show="task.isRejected == true && task.isProposed == true">
		  <center>
		  	<button class="button button-calm" type="button" ui-sref="menu.tab.my-tasks.editProposal" >
		  		Counter Propose!
		  	</button>
		  	<button class="button button-balanced" type="button" ui-sref="menu.tab.my-tasks.editProposal" >
		  		Accept Proposal!
		  	</button>
		  	<button class="button button-assertive" type="button" ng-click="removeTask()" >
		  		Reject Proposal!
		  	</button>
		  </center>
		</div>


  </ion-content>
</ion-view>
